<a href="https://colab.research.google.com/github/Shangggggg/Krisha_10/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/Shangggggg/Krisha_10/main/shanghai_ranking_2024.csv')

In [ ]:
df.head()

,Rank,University_Name,National/Regional Rank,Alumni,Award,Hici,N&S,PUB,PCP
0,1,Harvard University,1,100.0,97.1,100.0,100.0,100.0,85.7
1,2,Stanford University,2,45.3,88.1,73.1,83.9,73.1,59.6
2,3,Massachusetts Institute of Technology (MIT),3,71.9,82.8,55.2,70.8,59.1,73.6
3,4,University of Cambridge,1,78.2,90.8,45.1,59.8,67.2,60.6
4,5,"University of California, Berkeley",4,65.3,76.5,46.9,62.8,57.1,55.5

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    1000 non-null   object
 1   University_Name         1000 non-null   object
 2   National/Regional Rank  1000 non-null   object
 3   Alumni                  1000 non-null   float64
 4   Award                   1000 non-null   float64
 5   Hici                    1000 non-null   float64
 6   N&S                     989 non-null    float64
 7   PUB                     1000 non-null   float64
 8   PCP                     1000 non-null   float64
dtypes: float64(6), object(3)
memory usage: 70.4+ KB

In [ ]:
df['Alumni']=df['Alumni'].astype('float64')

In [ ]:
df['Alumni'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Alumni
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

In [ ]:
df['Alumni'].head()

0    100.0
1     45.3
2     71.9
3     78.2
4     65.3
Name: Alumni, dtype: float64

In [ ]:
df['Award']=pd.to_numeric(df['Award'], errors='coerce').astype('float64')

In [ ]:
df['Award'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Award
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

In [ ]:
df.head()

,Rank,University_Name,National/Regional Rank,Alumni,Award,Hici,N&S,PUB,PCP
0,1,Harvard University,1,100.0,97.1,100.0,100.0,100.0,85.7
1,2,Stanford University,2,45.3,88.1,73.1,83.9,73.1,59.6
2,3,Massachusetts Institute of Technology (MIT),3,71.9,82.8,55.2,70.8,59.1,73.6
3,4,University of Cambridge,1,78.2,90.8,45.1,59.8,67.2,60.6
4,5,"University of California, Berkeley",4,65.3,76.5,46.9,62.8,57.1,55.5

In [ ]:
df['Rank']=pd.to_datetime(df['Rank'], errors='coerce')

<ipython-input-19-6a026ea67ea5>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Rank']=pd.to_datetime(df['Rank'], errors='coerce')

In [ ]:
df['Rank'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Rank
Non-Null Count  Dtype
--------------  -----
0 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.9 KB

In [ ]:
df['PUB'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: PUB
Non-Null Count  Dtype
--------------  -----
1000 non-null   float64
dtypes: float64(1)
memory usage: 7.9 KB

In [ ]:
df['Alumni']=df['Award']+df['Hici']

In [ ]:
df['Alumni']

0      197.1
1      161.2
2      138.0
3      135.9
4      123.4
       ...
995      6.5
996      0.0
997      6.5
998      0.0
999      6.5
Name: Alumni, Length: 1000, dtype: float64